/* login_style.css */
body {
  font-family: Tahoma,Verdana,Segoe,sans-serif; 
  font-size: 14px;
  padding: 20px;
  text-align: center;
}

.wrapper {
  width: 250px;
  margin: 60px auto;
  text-align: left;
}

.form-content {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
}

.field-wrapper {
  margin-top: 20px;
  position: relative;
}

.field-wrapper input[type="text"],
.field-wrapper input[type="password"],
.field-wrapper input[type="submit"] {
  width: 100%;
  border: none;
  background: transparent;
  line-height: 2em;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.field-wrapper input[type="submit"] {
  cursor: pointer;
  width: 100%;
  background: green; /* Vibrant green */
  line-height: 2em;
  color: #fff;
  border: 1px solid green; /* Vibrant green */
  border-radius: 3px;
  padding: 5px;
}

.field-wrapper input[type="submit"]:hover {
  background: #228B22; /* Vibrant green */
  border-color: #228B22; /* Vibrant green */
}

.Not,
#switchToSignup {
  display: block;
  margin-top: 20px;
  font-size: 0.75em;
  color: #fff;
  cursor: pointer;
}

.Not:hover,
#switchToSignup:hover {
  color: #green; /* Vibrant green */
}
