
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffffff; /* Set background color to white */
    background-attachment: fixed;
}

.container {
    padding: 20px;
    border-radius: 10px;
    max-width: 100%; /* Set maximum width to fit the whole screen */
    height: 100%; /* Ensure container fills the whole screen height */
    background-color: transparent; /* Remove background color to let theme color occupy the page */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 60px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.heading {
    text-align: center;
}

.player {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    padding: 10px;
    width: 90%;
    max-width: 90%; /* Ensure the music player fits within the container */
    /* Add border for main music player */
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for separation */
}

.song-info h2 {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.artist-name {
    color: #777;
    font-size: 1em;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 90%;
}

.controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 3px;
    transition: transform 0.2s ease;
    color: black;
    font-size: 1em;
}

.controls button:hover {
    transform: scale(1.2);
}

.controls button.play-pause {
    font-size: 1.2em;
}

.controls button.play-pause:hover {
    transform: scale(1.2) rotate(20deg);
}

.controls button.previous,
.controls button.next {
    font-size: 1em;
}

.controls button.previous:hover,
.controls button.next:hover {
    transform: scale(1.2) rotate(20deg);
}

#progress {
    flex: 1;
    margin: 0 10px;
}

#current-time, #duration {
    font-size: 0.8em;
}

.fas {
    font-size: 20px;
}

.player.playing {
    background-color: #f0f0f0;
}

.recommended-songs-container h4 {
    font-size: 0.8em; /* Reduced font size for artist recommended heading */
    margin-bottom: 10px;
}

.recommended-song {
    margin-bottom: 5px;
    color: green;
    font-size: 0.6em; /* Reduced font size for recommended artist list */
}

.recommended-song h5 {
    margin-bottom: 3px;
}

.recommended-song p {
    font-size: 0.6em; /* Reduced font size for recommended artist list */
    color: #777;
}

.logout-button {
    position: fixed;
    top: 0;
    right: 20px;
    font-weight: bold;
}

#volume_slider::-webkit-slider-runnable-track {
    -webkit-appearance: none; /* Hide default slider track */                           }
                                                                                        #volume_slider::-moz-range-track {                                                          -moz-appearance: none; /* Hide default slider track */                              }
                                                                                        /* Style the input element to remove default appearance and allow custom slider positioning */                                                                                  #volume_slider {                                                                            -webkit-appearance: none;
    appearance: none;
    height: 5px; /* Already set */
    background-color: grey; /* Override for custom slider */                                order: 0;                                                                           }                                                                                       
/* Position the custom slider after the input element */                                #volume_slider + .custom-slider {                                                           display: block;
}                                                                                       
/* Ensure volume icons are inline with the slider (already set) */                      .volume-container {
    display: flex;                                                                          align-items: center;
    margin-top: 10px;                                                                       position: relative;
}
/* Adjust volume icon margins for better positioning within the slider track  */
.fas.fa-volume-up, .fas.fa-volume-down {
font-size: 0.6em; /* Keep font size small */
margin: 0 3px;
}

.recommended-songs-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    z-index: 999; /* Ensure the overlay is above other content */
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-songs-container {
    background-color: #fff; /* White background for the recommended songs container */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow-y: auto; /* Allow scrolling if content exceeds container height */
}

#back-to-playlist {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    color: #fff; /* Text color for the back button */
    cursor: pointer;
    font-size: 16px;
}

#show-recommended {
    background-color: #ffff;
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    border: none;
    border-radius: 5px; /* Rounded corners */
    padding: 10px 20px; /* Padding around the button text */
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Adjust margin-top as needed */
}

#available-music-list {
    list-style: none;
    padding: 0;
}

#available-music-list li {
    margin-bottom: 10px;
    font-size: 10px; /* Adjust font size as needed */
}

.current-song {
	color: blue;
}

#available-music-list li.current-song,
.playlist-item.current-song {
	color: blue;
}

.player.playing .current-song {
	color: blue;
}

#available-music-list li:hover {
    background-color: #f0f0f0; /* Add hover effect */
}
