<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>
<body>
  <div class="wrapper">
    <div id="loginPage" class="page">
      <div class="form-content">
        <h3>Mziki Player</h3>
        <form id="loginForm">
          <div class="field-wrapper">
            <input type="text" id="username" name="username" placeholder="Username">
          </div>
          <div class="field-wrapper">
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password">
	    <div id="login-error-message" style="color: red; display: none;"></div>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="Login">
          </div>
          <span class="Not registered? " onclick="showForgotPasswordPage()">Forgot Password?</span>
          <a id="switchToSignup" href="#">Sign Up</a>
        </form>
      </div>
    </div>

    <div id="signupPage" class="page">
      <div class="form-content">
        <h4>Sign up</h4>
        <form id="signupForm">
          <div class="field-wrapper">
            <input type="text" id="username" name="username" placeholder="Name">
          </div>
          <div class="field-wrapper">
            <input type="password" id="password" name="password" placeholder="Password" autocomplete="new-password">
          </div>
          <div class="field-wrapper">
            <input type="password" id="password2" name="password2" placeholder="Re-enter Password" autocomplete="new-password">
	    <div id="signup-error-message" style="color: red; display: none;"></div> <!-- Error message for signup -->
          </div>
          <div class="field-wrapper">
            <input type="submit" value="Sign Up">
          </div>
        </form>
      </div>
      <button id="backToLogin">Back to Login</button>
    </div>

    <div id="forgotPasswordPage" class="page">
      <div class="form-content">
        <h4>Forgot Password</h4>
        <form id="forgotPasswordForm">
          <div class="field-wrapper">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
          <div class="field-wrapper">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>

    <div id="contactUsPage" class="page">
      <div class="form-content">
        <h4>Contact Us</h4>
        <form id="contactUsForm">
          <div class="field-wrapper">
            <input type="text" id="name" name="name" placeholder="Name">
          </div>
          <div class="field-wrapper">
            <input type="text" id="email" name="email" placeholder="Email">
          </div>
          <div class="field-wrapper">
            <textarea id="message" placeholder="Your Message"></textarea>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="Send Message">
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/login_script.js') }}"></script>
</body>
</html>
